<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wintools.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <wintools.Test.Properties.Settings>
            <setting name="privateKey" serializeAs="String">
                <value>resources\privatekey.pem</value>
            </setting>
            <setting name="sharedSecret" serializeAs="String">
                <value>resources\key-final.enc</value>
            </setting>
        </wintools.Test.Properties.Settings>
        <Test.Properties.Settings>
            <setting name="privateKey" serializeAs="String">
                <value />
            </setting>
            <setting name="sharedSecret" serializeAs="String">
                <value />
            </setting>
        </Test.Properties.Settings>
    </applicationSettings>
</configuration>